@import 'src/colors';
@import 'variables';

$input-control-width: 205px;

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
  justify-content: space-between;
  gap: 40px;

  .filters {
    display: flex;
    flex-direction: row;
    gap: 4%;
  }
  .actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .export-icon {
    margin-right: 9px;
  }

  ::ng-deep .p-input-icon-left {
    i {
      color: $regular-light;
      font-size: 1.2rem;
      transform: translateY(-2px);
    }
    .p-inputtext {
      width: 315px;
      &::placeholder {
        color: $regular-light;
      }
    }
  }

  ::ng-deep .p-dropdown {
    width: $input-control-width;
    .p-placeholder {
      color: $regular;
    }
  }

  ::ng-deep .p-calendar {
    width: $input-control-width;
    .p-datepicker-trigger {
      position: absolute;
      background: transparent;
      border: none;
      color: $regular-light;
      border-radius: 6px;
      .p-button-icon {
        font-size: 1.2rem;
      }
    }
    input.p-inputtext {
      padding-left: 45px;
      border-radius: 6px;
    }
  }

  @media screen and (max-width: $screen-xl) {
    $input-control-width: 175px;
    .filters {
      gap: 2%;
    }
    ::ng-deep .p-input-icon-left {
      .p-inputtext {
        width: 250px;
      }
    }
    ::ng-deep .p-dropdown {
      width: $input-control-width;
    }
  
    ::ng-deep .p-calendar {
      width: $input-control-width;
    }
  }

  @media screen and (max-width: $screen-lg) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    $input-control-width: 175px;
    ::ng-deep .p-input-icon-left {
      .p-inputtext {
        width: 200px;
      }
    }
    ::ng-deep .p-dropdown {
      width: $input-control-width;
    }
  
    ::ng-deep .p-calendar {
      width: $input-control-width;
    }
  }
}