:host {
  height: 100vh;
  display: flex;
  justify-content: center;

  zf-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
  }

  .content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-top: 72px;
    padding: 32px 40px;
    min-height: calc(100vh - 72px);
    overflow: auto;

    .zf-max-width {
      width: 100%;
      position: relative;
    }
  }
}