$primary: #2188D9;
$primary-active: #1773BB;

$regular: #060C1B;
$regular-light: #B8B9BC;
$regular-background-light: #ECECED;

$error: #FF3D00;
$error-background: rgba(255, 61, 0, 0.1);
$success: #53D86A;
$success-background: #D7E5DA;

$white: #FFFFFF;